* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: lightgreen;
}

.container {
  width: 1000px;
  /* height: auto; */
  height: 600px;
  background-color: lightblue;
  border: 3px solid snow;
  border-radius: 15px;
  position: relative;
}

.container h2 {
  text-align: center;
  font-family: fantasy;
  text-decoration: underline;
}

#openAccount {
  width: 500px;
  background-color: snow;
  border: 1px solid lightgreen;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0 auto;
}

#buttons {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  display: none;
}

#buttons button {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

#buttons button:last-of-type {
  background-color: pink;
}

#depositForm {
  background-color: snow;
  width: 400px;
  border: 1px solid lightgreen;
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  top: 250px;
  left: 300px;
  display: none;
}

#withdrawlForm {
  width: 400px;
  background-color: snow;
  border: 1px solid lightgreen;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 300px;
  display: none;
}

#balance {
  display: none;
  border: 5px solid lightpink;
  border-radius: 4px;
  padding: 10px 25px;
  color: darkgreen;
  font-style: bold;
  position: absolute;
  top: 450px;
  left: 400px;
}

#blackFont {
  color: black;
}
